/*HERE WE COME!!*/
#magicButton{
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	bottom:20px;
	color: #004494;
	font-weight: bold;
	font-size: 20px;
 right: 10px;
 width: 200px;
 height: 80px;
 background-color: #FFD617;
}

#magicButton:hover{
	text-decoration: underline;

}

#iframeContainer {
	position: absolute;
	z-index: 2;
 padding-left: 600px;
 padding-top: 250px;
 padding-bottom: 650px;
	left: -2000px;
	transition: 0.8s;
	width: 1236px;
background-color:rgba(0,0,0,0.7);
border: 1px solid #004494;
overflow: hidden;

}

#obstacleForm {
width: 700px;
position: relative;
border: 4px solid  #004494;
border-radius: 5px;
overflow: hidden;

}

/*OFF WE GO*/
